<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
    <style>
        .col-sm-3 {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: right;
        }
        .row {
            border-top: 0px;
            margin: 0;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>

</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("asset:asset:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("asset:asset:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>

            <a class="btn btn-primary" @click="WXfinish"><i class="fa fa-trash-o"></i>&nbsp;维修完成</a>

        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList && !showUpdate" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">资产名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="asset.assetName" placeholder="资产名称"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">资产分类名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" style="cursor:pointer;" v-model="asset.categoryName"
                           @click="categoryTree" readonly="readonly" placeholder="选择分类"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">所属部门</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" style="cursor:pointer;" v-model="asset.orgName"
                           @click="deptTree" readonly="readonly" placeholder="所属部门"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">使用部门</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" style="cursor:pointer;" v-model="asset.useOrgName"
                           @click="useDeptTree" readonly="readonly" placeholder="使用部门"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">使用人名称</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="asset.empName" id="empNameSelect"></select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">管理员名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="asset.adminUsername" placeholder="管理员名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">区域名称</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="asset.areaName" id="areaNameSelect"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">存放地点</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="asset.storagePosition" placeholder="存放地点"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">规格型号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="asset.standard" placeholder="规格型号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">计量单位</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="asset.unit" placeholder="计量单位"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">价值（元）</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="asset.worth" placeholder="价值（元）"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">使用期限（月）</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="asset.timeLimit" placeholder="使用期限（月）"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">购买日期</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="checkDateBefore" v-model="asset.buyTime"
                           placeholder="请选择购买日期">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">供应商</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="asset.supplier" placeholder="供应商"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备注</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="asset.remarks" placeholder="备注"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">新增数量</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="asset.assetNumber" placeholder="新增数量"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..."
                       @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>

<div v-show="!showList && showUpdate" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">资产名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="asset.assetName" placeholder="资产名称" disabled/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">资产分类名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="asset.categoryName" placeholder="资产名称" disabled/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">所属部门</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="asset.orgName" placeholder="资产名称" disabled/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">使用部门</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="asset.useOrgName" placeholder="资产名称" disabled/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">使用人名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="asset.empName" placeholder="资产名称" disabled/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">管理员名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="asset.adminUsername" placeholder="资产名称" disabled/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">区域名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="asset.areaName" placeholder="资产名称" disabled/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">存放地点</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="asset.storagePosition" placeholder="存放地点"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">规格型号</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="asset.standard" placeholder="规格型号"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">计量单位</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="asset.unit" placeholder="计量单位"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">价值（元）</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="asset.worth" placeholder="价值（元）"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">使用期限（月）</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="asset.timeLimit" placeholder="使用期限（月）"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">购买日期</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="checkDateBefore1" v-model="asset.buyTime"
                       placeholder="请选择购买日期">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">供应商</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="asset.supplier" placeholder="供应商"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">备注</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="asset.remarks" placeholder="备注"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" id="btnUpdateAsset" data-loading-text="保存中..."
                   @click="updateAsset" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>


<div id="WXfinishShow" style="display: none;">
    <div>
        <div class="row">
            <label class="col-sm-3 control-labe">维修费用</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" v-model="wxfinish.repairCost" placeholder="请输入实际维修费用"/>
            </div>
        </div>

        <div class="row">
            <label class="col-sm-3 control-label">维修说明</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" v-model="wxfinish.explain" placeholder="请输入维修说明"/>
            </div>
        </div>
        <div class="row">
            <div style="text-align: right; margin-right: 50px;">
                <input type="button" class="btn btn-primary" id="btnSave" data-loading-text="保存中..." @click="wxSave"
                       value="确定"/>
            </div>
        </div>
    </div>
</div>


</div>

<!-- 选择分类 -->
<div id="categoryLayer" style="display: none;padding:10px;">
    <ul id="categoryTree" class="ztree"></ul>
</div>
<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
    <ul id="deptTree" class="ztree"></ul>
</div>
<script src="${request.contextPath}/statics/plugins/layui\lay/modules/laydate/laydate.js?_${.now?long}"></script>
<script src="${request.contextPath}/statics/js/modules/asset/asset.js?_${.now?long}"></script>
</body>
</html>
