<!DOCTYPE html>
<html>
<head>
    <title></title>
    <#include "/header.html">
    <style>
        .col-sm-2 {
            width: 12% !important;
            padding-top: 7px;
            margin-bottom: 0;
            text-align: right;
        }
        .row {
            border-top: 0px;
            margin: 0;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">

        <div>
            <div class="row">
                <label class="col-sm-2 control-labe">调拨后所属部门</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" style="cursor:pointer;" v-model="assetTransfer.orgName" readonly/>
                </div>
                <label class="col-sm-2 control-label">调拨后使用部门</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" style="cursor:pointer;" v-model="assetTransfer.useOrgName" readonly/>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 control-label">调拨后使用人</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" style="cursor:pointer;" v-model="assetTransfer.useOrgName" readonly/>

                </div>
                <label class="col-sm-2 control-label">调拨日期</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" style="cursor:pointer;" v-model="assetTransfer.actualTime" readonly/>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 control-label">调拨备注</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" style="cursor:pointer;" v-model="assetTransfer.recordRemarks" readonly/>
                </div>

                <div v-if="isBtn" class="col-sm-1">
                    <input type="button" class="btn btn-primary" id="btnSave" data-loading-text="保存中..." @click="save" value="同意"/>
                </div>
                <div v-if="isBtn" class="col-sm-1">
                    <input type="button" class="btn btn-primary" id="btnRebut" data-loading-text="保存中..." @click="rebut" value="驳回"/>
                </div>

            </div>

        </div>

        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>
<script src="${request.contextPath}/statics/js/modules/asset/transformer_transfer.js?_${.now?long}"></script>
</body>
</html>
